.scombzUtilitiesAddTaskButton {
  position: absolute;
  display: flex;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  border-radius: 1000px;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #fff0;
  transition: background-color 0.3s;
}

.scombzUtilitiesAddTaskButton:hover {
  background-color: #fff3;
}

.scombzUtilitiesAddTaskButton:active {
  background-color: #fff6;
}
