.ItemBox-CheckBox-Input {
  display: none;
  /* inputタグは非表示にする */
}
.ItemBox-CheckBox-Label {
  display: inline-block;
  position: relative;
  margin: 4px;
  width: 56px;
  height: 24px;
  border-radius: 80px;
  background: #d0d2d9;
  /* チェックされていない時の背景色 */
  cursor: pointer;
  transition: 0.2s ease;
  /* 円が動くスピードを指定 */
}

.ItemBox-CheckBox-Input:checked + .ItemBox-CheckBox-Label {
  background: #416bc9;
  /* チェックされた時の背景色 */
}

.ItemBox-CheckBox-Label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 80px;
  width: 20px;
  height: 20px;
  background: #fff;
  transition: 0.2s ease;
  /* 円が動くスピードを指定 */
}

.ItemBox-CheckBox-Input:checked + .ItemBox-CheckBox-Label:before {
  left: 33px;
}
.noticeSurveyBox {
  margin-left: 42px;
}
.noticeSurveyBox > span {
  position: relative;
  top: -12px;
  margin-right: 5px;
}
