#scombzUtilitiesContextMenu {
  display: none;
  position: fixed;
  z-index: 999999;
  background: #fff8;
  border-radius: 4px;
  padding: 3px;
  box-shadow: 1px 1px 4px #0005;
  backdrop-filter: blur(4px);
}

#scombzUtilitiesContextMenu .contextMenuButton {
  display: block;
  padding: 5px;
  cursor: pointer;
  backdrop-filter: blur(4px);
  background-color: #fff5;
}

#scombzUtilitiesContextMenu .contextMenuButton:hover {
  background: #ccc6;
}
