#scombzUtilitiesContextMenu {
  display: none;
  position: fixed;
  z-index: 999999;
  background: #eeec;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 1px 4px #0009;
  backdrop-filter: blur(4px);
}

#scombzUtilitiesContextMenu .contextMenuButton {
  display: block;
  padding: 5px;
  cursor: pointer;
  backdrop-filter: blur(4px);
  background-color: #fff5;
  border-top: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
}

#scombzUtilitiesContextMenu .contextMenuButton:hover {
  background: #ccc6;
}

.utilities-contextMenuTarget {
  opacity: 0.6;
}
