{
  "plugins": ["react"],
  "extends": [
    "plugin:import/recommended",
    "plugin:import/warnings",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "semi": ["error", "always"],
    "max-len": ["error", 120],
    "no-plusplus": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/self-closing-comp": "error",
    "react/jsx-props-no-spreading": "off",
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": false }],
    "func-style": ["error", "expression"],
    "react/no-unknown-property": "error",
    "react/destructuring-assignment": "error",
    "multiline-ternary": "off",
    "no-var": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "import/no-unresolved": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        }
      }
    ]
  }
}
